
* {
    margin: 0;
    padding: 0;
  } 

body{
    background: grey;
  }

a{
  text-decoration: none;
}

[data-x].active{
  /* outline: 10px solid red; */
}

[data-x].offset{
  transform: translateY(150px);
}
[data-x]{
  transform: translateY(0);
  transition: all 0.5s;
}

[data-x].offset{
  transform: translateY(0);
  transition:all 0.5s;
}

.navTop{
  padding:20px 0;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 1s;
  color: #9a9da2;
}

.navTop .logo{

}
.navTop.sticky{
  background: white;
  padding: 10px 0;
  box-shadow: 0 0  10px rgba(0,0,0, 25);
  color: green;
  z-index: 100;
}
.navTop .navTop-wrapper{
  padding: 0 16px;
}
.navTop  nav{
  float:right;
}
.navTop  nav >ul{
    list-style: none;
    
  }

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.navTop  nav > ul > li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
  padding-top: 7px;
  position: relative;
} 

.navTop  nav > ul > li > a{
  text-decoration: none;
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  position: relative;
}

.navTop  nav > ul >li>a:hover{
  /* border-bottom: 3px solid #e06567; */
}
.navTop  nav > ul >li.active >a::after,
.navTop  nav > ul >li.highlight >a::after{
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e06567;
  height: 3px;
  animation: menuSlide 1s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@keyframes menuSlide{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes submenuSlide{
  0%{
    margin-right:100%;
  }
  100%{
    margin-right:0%;
  }
}
.navTop .submenu{
  display: none; 
  position: absolute;
  right: 0;
  top: 100%;
  color: #3d4451;
  list-style: none;
  background: white;
  
}

.navTop li.active > .submenu{
  display: block;
  animation: submenuSlide .2s;
}

.navTop .submenu > li{
  white-space: nowrap;
  padding: 5px 10px;
}

.navTop .logo{
  margin-top: 15px;
}
.navTop  .logo > .rs{
  font-family: "Arial Black";
  font-size: 24px;
  color: #e6686a;
  margin-right: 4px;
  line-height: 26px;
}
.navTop  .logo > .card{
  font-size: 24px;
  font-family: "Arial Black";
  color: #9a9da2;
}

.banner{
  height: 515px;
  background-image: url(./img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
}

.banner .mask{
  height: 515px;
  background-color: rgba(0,0,0,0.7);
}

.userCard{
  
  max-width: 940px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: -300px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.7);
}
.userCard .pictureAndText{
  padding: 30px;
  
}
.userCard .picture{
  float: left;

}
.userCard .picture img{
  width: 299px;
  height: 347px;
  
}
.userCard .text{
  float: left;
  margin-left: 40px;
  
}
.userCard .text dt,
.userCard .text dd{
  float:left;
  width: 34%;
  padding: 5px 0;
}

.userCard .text h1{
  
  margin-top: 20px;
}

.userCard .text hr{
  margin: 20px 0;
  width: 300px;
}

.userCard .welcome{
  padding: 4px 16px 4px 16px;
  background: #e6686a;
  color: #ffffff;
  display: inline-block;
  position: relative;
}

.userCard .welcome .trangle{
  /* display: inline-block;这个好像不对 */
  width:0px;
  height:0px;
  border:15px solid #e6686a;
  border-left-color:#e6686a;
  border-top:0px;
  border-bottom-color:transparent;
  border-right-color:transparent;
  position: absolute;
  top:100%;
  left: 5px;
}



.userCard footer.media{
  
  width: 100%;
  background: #e6686a;
  text-align: center;
}
.userCard footer.media a{
  
  display: inline-block; 
  border-radius: 50%;
  padding: 5px 5px;
  margin:5px 10px;
  
}
.userCard footer.media a:hover{
  background: #cf5d5f;
}
.userCard footer.media img{
  width: 40px;
  height: 40px;
  vertical-align: top;
}


main .downloadResumeWrapper{
  text-align: center;
}

main .downloadResume{
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
 
  display: inline-block;
  border-radius: 4px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.3s;
  background: #EFEFEF;
}

main .downloadResume:hover{
  box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.7)
}

.selfIntroduction{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 30px;
}

section.skills,
section.work{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

section.skills > h2,
section.work > h2{
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin-top:40px;
}

section.skills > ol{
  list-style: none;
  background: #EFEFEF;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  padding: 20px 50px;
  margin-top:30px;
}
section.skills > ol > li{
  width: 47%;
  margin:10px 0;
  box-sizing: border-box;
  float: left;

}
section.skills > ol > li > div.one{
  height: 10px;
  width: 100%;
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
}

section.skills > ol > li > div.one > div.two{
  height: 100%;
  width: 70%;
  background: red;
  border-radius: 5px;
}

section.skills > ol > li:nth-child(2n){
  float: right;
  
}
section.work{
  text-align: center;
}
section.work > nav{
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

section.work > nav > ol{
  
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  
}

section.work > nav > ol >li{
  float: left;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  font-size: 20px;
}

section.work > nav > .bar{
  height: 5px;
  background: #ffffff;
  margin-top:5px;
  margin-bottom: 60px;
  border-radius: 4px;
  vertical-align: top;
}
section.work > nav > .bar .bar-inner{
  height: 100%;
  background: #e6686a;
  
  border-radius: 2px;
  transition: all 0.3s;
}
section.work > nav > .bar.state-1 .bar-inner{
  width: 15%;
  margin-left: 19px;;
}
section.work > nav > .bar.state-2 .bar-inner{
  width: 15%;
  margin-left: 100px;
}
section.work > nav > .bar.state-3 .bar-inner{
  width: 22%;
  margin-left: 180px;
}

section.work > .jobs{
  position: relative;
  
  height: 597px;
 
}

section.work > .jobs > .big{
  position:absolute;
  top:0;
  left: 0;
}

section.work > .jobs > .small{
  position:absolute;
}


































